<!-- views/ihm/folderselector.ejs -->

<% if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <a>
<% } %>

    <label for="<%=content['Key']%>"> <%=content['Name']%> </label>
    <input type="file" id="<%=content['Key']%>" name="<%=content['Key']%>" webkitdirectory directory/>
    
<% if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </a>
<% } %>
