<!-- views/ihm/page.ejs -->

<div id=tab<%=numpage%> > <a href="#tab<%=numpage%>" ><%=content['Name']%> </a>
<div class="gpao-params">

<% if (content.hasOwnProperty('content')) { %>
    <%- include("./readJsonContent", {content:content['content'], custom_style:custom_style} ) %>
<% } %>

</div>
</div>
