<!-- views/partials/jobs_info.ejs -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h6 class="m-0 font-weight-bold text-primary">Informations sur le projet</h6>
      </div>
    </div>
  </div>
  <div class="card-body">
              
  </div>
</div>
