<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron">
        <h1>Monitor GPAO</h1>
        <p>Bienvenue dans l'interface de gestion des chantiers GPAO</p>
    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>
