<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<script type="text/javascript">
	$(document).ready(function() {
		$('#tree').DataTable();
	} );
</script>
  

<main>
    <div class="jumbotron">
        <h2>Vue globale</h2>
	<ul class="tree">
        <% json.forEach( function(tree){ %>
   	<li>Chantier:  <%= tree.nom%> </li>
	<% }) %>
	</ul>
    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>
