<!-- views/partials/header.ejs -->
<div class="row">
  <div class="col-sm-3">
    <h1>Projects</h1>
    <nav>
        <ul class="nav float-left">
            <li><a class="btn btn-outline-primary nav-item nav-link" href="#">Créer un chantier à partir d'un Json</a></li>
            <li><a class="btn btn-outline-primary nav-item nav-link" href="#">Créer un chantier à partir d'un fichier texte</a></li>
        </ul>
    </nav>
  </div>

  <div class="col-sm-1">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn btn-success nav-item nav-link" href="/">Accueil</a>
          <a class="btn btn-success nav-item nav-link" href="/job">Jobs</a>
          <a class="btn btn-success nav-item nav-link" href="/session">Sessions</a>
          <a class="btn btn-success nav-item nav-link" href="/host">Hosts</a>
          <a class="btn btn-success nav-item nav-link" href="/project">Projects</a>  
        </div>
      </div>
    </nav>
  </div>
</div>